.sub-categories 
{ 
  border-left: none;  

  .sub-categories-content {    

    ul { padding-right: 10px; padding-left: 5px; }    

    .subcategorie-option-item { 
      
      margin-bottom: 3px;
      padding-left: 0;
      line-height: 2.5rem;
      height: 2.5rem;

      &.expanded { 
        margin-bottom: 0; 
      }

      &.disabled {         
        .icon {          
          background-color: transparent;
          opacity: 1;
        }
      }    

      .option-name {
        font-weight: 500;
        font-size: 13px;
        padding-left: .6rem;  
        @include transition(color .1s);
      }

      .checkbox-wrapper { display: none; }

      .arrow-after {
        position: absolute;
        right: 1rem;
        top: 1.1rem;
        border-radius: 1px;
      }   

      .option-name:hover .arrow-after 
      { 
        margin-right: -1px;
        margin-top: -1px;
      }

      .elements-by-category-count {
        position: initial;
        margin-left: 10px;
      }

      &.expanded .option-name
      { 
        &:hover .arrow-after { margin-bottom: -3px; } 
        .arrow-after { margin-bottom: -3px; } 
      }

      .icon {
        padding-top: .2rem;
        font-size: 17px;
        height: 3rem;
        width: 2.5rem;  
        margin-right: 0;        
        @include transition(color .3s);

        &.fa.fa-recycle, &.fa.fa-link { padding-top: .8rem;}
      }  
      .icon.fa, .icon.fab, .icon.fas  { padding-top: .7rem; }     
 
      &:not(.expanded) .option-name .arrow-after { opacity: 1; }
      &.expanded       .option-name .arrow-after { opacity: 1; top: .9rem; }
    }  

    .subcategory-item {
      .name-wrapper  { margin-left: 3rem; margin-right: 0; font-weight: 900; }
      .checkbox-wrapper { 
        left: 0; right: initial; 
        
        [type="checkbox"].filled-in + label:after {
          background-color: transparent;
          border: none;
          @include transition(none);
        }
        [type="checkbox"].filled-in + label:before {
          top: 7px;
          width: 9px;
          height: 15px;          
        }
        [type="checkbox"].filled-in:not(:checked) + label:before {    
          @include transition(none);
        }
      }
    }

    // subcategories
    .category-wrapper .subcategories-wrapper:not(.no-withdrawal) {
      margin-left: 0 !important;
      margin-bottom: 6px;
      border: none; 

      .subcategorie-option-item { 
        margin-bottom: 0; 
        line-height: 2.7rem;
        height: 2.7rem;

        .option-name { font-size: .8rem; }

        .icon {
          font-size: .85rem;
        }
        .icon.fa, .icon.fab, .icon.fas { padding-top: .95rem; }      
      }      
    }

    #main-option-all {
      // Main category DOMAINES
      & > .category-wrapper:first-child {       
        .subcategorie-option-item .subIcon { background-color: transparent; }
        .subcategorie-option-item:not(.checked) .icon { background-color: transparent; }

      }
      // Main category SOURCES
      & > .category-wrapper:not(:first-child) {
        [type="checkbox"].filled-in:checked + label:before {
          top: 7px;
          width: 9px;
          height: 15px;          
        }
      }

      & > .category-wrapper > .subcategory-item .arrow-after { display:none; }
    }

    .show-only-container .subcategorie-option-item {
      .icon {
        padding-top: 3px;
        padding-left: 10px;
        background-color: transparent;  
      }
    }

    .show-only-title {      
      padding-left: 0;
      margin-bottom: 0;
      padding-left: 0;
      margin-bottom: 0rem;
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }    
  }  
}