{# POPUP #}
{% if config.marker.displayPopup %}
<div class="marker-popup gogo-bg-color-as {{pendingClass}} {{ 'gogo-color-soft' if config.theme == 'presdecheznous' else '' }}"
					option-id="{{mainOptionToDisplay.colorOptionId}}" style="{{ 'display: block !important;' if config.marker.popupAlwaysVisible else 'display:none'}}">{{ popup|safe }}</div>
{% endif %}

{# MARKER #}
<div class="marker-wrapper gogo-color-as {{pendingClass}}" option-id="{{mainOptionToDisplay.colorOptionId}}" id="marker-{{ element.id }}">

	<div class="rotate animate gogo-icon-marker"></div>
	
	{% set mainIcon = 'gogo-icon-attention' if showPending else mainOptionToDisplay.option.icon %}
	<div class="iconInsideMarker-wrapper rotate {{ 'font-awesome' if mainIcon and mainIcon.indexOf('fa') >= 0 else '' }}">		
		<div class="iconInsideMarker gogo-color-as {{pendingClass}} {{ 'disabled' if not mainOptionToDisplay.isFilledByFilters }} {{mainIcon}}" 
		option-id="{{ mainOptionToDisplay.optionId if mainOptionToDisplay.option.color else mainOptionToDisplay.colorOptionId }}">
	</div>

	{% set nbreOthersOptions = otherOptionsToDisplay.length %}

	{% if nbreOthersOptions > 0 and showMoreIcon and not showPending %}

		{% set widthMoreOption = nbreOthersOptions * 39 + 5  %}   	

    	<div class="gogo-icon-plus-circle animate rotate"></div>

    	<div class="moreIconContainer animate rotate" 
    		  style="width:{{ widthMoreOption }}px">
    	
			{% for otherOptionValue in otherOptionsToDisplay %}

				{% set disableOption = 'disabled' if not otherOptionValue.isFilledByFilters %}

				<div class="moreIconWrapper {{ disableOption }} {{ 'gogo-color-as gogo-bg-color-as' if otherOptionValue.colorOptionId }} {{pendingClass}}" style="left:{{ 32 * loop.index0 }}px"
						option-id="{{ otherOptionValue.colorOptionId }}">
					<span class="moreIcon iconInsideMarker {{ disableOption }} {{ otherOptionValue.option.icon }} gogo-color-as {{pendingClass}}" 
						option-id="{{ otherOptionValue.optionId if otherOptionValue.option.color else otherOptionValue.colorOptionId }}">
					</span>
			 	</div>

			 {% endfor %}

		</div>

	{% endif %}
	
	{% set displayStamps = element.displayStamps() %}
	{% set nbreMiniIcon = displayStamps.length + 1 %}

	<div class="mini-icon-stamp-container animate rotate" style="width: {{ 20 * nbreMiniIcon }}px">
		{% if config.isFeatureAvailable('favorite') and element.isFavorite %}
			<span class="mini-icon-stamp gogo-icon-star-full"></span>
		{% endif %}

		{% if config.isFeatureAvailable('stamp') %}
			{% for stamp in displayStamps %}
				<span class="mini-icon-stamp {{ stamp.icon }}"></span>
			{% endfor %}
		{% endif %}
	</div>

</div>