{% set contributionType = {
  '0': "Ajout",
  '1': 'Modification',
  '2': "Vote",
  '3': "Signalement",
  '4': "Import"
  }
%} 

{% set elementStatus = {
  '' : 'En attente',
  '-5': "modified pending",
  '-4': 'Supprimé', 
  '-3': 'Refusé (votes) ', 
  '-2': 'Refusé (admin)', 
  '-1': 'En attente (modifs)', 
   '0': 'En attente (ajout)',
   '1': 'Validé (admin)',
   '2': 'Validé (votes)',
   '3': 'Ajouté par admin',
   '4': 'Modifié par admin',
   '5': 'Modifié par propriétaire',
   '6': 'Modifié avec lien direct'
  }
%} 

{% set userRoles = {
  '0': "Anonyme",
  '1': 'Anonyme avec email',
  '2': "Utilisateur loggué",
  '3': "Admin",
  '4': 'Anonyme avec lien'
  }
%} 

{# ---- HEADER --- #}
<div class="contribution-header row">    
  {% set labelClass = 'label-success' if item.status > 0 else 'label-danger' %}
  {% set labelClass = 'label-warning' if item.status == 0 else labelClass %}

  {% if item.userRole == 3 or item.status > 2 %}
    <div class="contribution-status"> 
        {% set title = contributionType[item.type] if (item.type == 4) else elementStatus[item.status] %}
        <span class="label {{ labelClass }}">{{ title }}</span>
        par <u>{{ item.user }}</u> 
        <span class="label label-default">{{ userRoles[item.userRole] }}</span> 
        <span class="vote-report-comment">{{ item.resolvedMessage}}<span>        
    </div>
    <div class="contribution-updated-at">{{ item.updatedAt }}</div>
  {% else %}    
    {% if item.status %} {# pending contribution have status to null #}
      <div> 
          <b>{{ contributionType[item.type] | upper }}</b>          
          <span class="label {{ labelClass }}">{{ elementStatus[item.status] }}</span>
          {% if item.resolvedMessage %}<span class="vote-report-comment" style="padding:0 10px"> {{ item.resolvedMessage}}</span>{% endif %}
          {% if item.resolvedBy %}<span>(<u>{{item.resolvedBy }}</u>)</span>{% endif %}   
          
      </div>
      <div class="contribution-updated-at">{{ item.updatedAt }}</div>
    {% endif %}

    <div> 
      Proposé par <u>{{ item.user }}</u> 
      <span class="label label-default">{{ userRoles[item.userRole] }}</span>    
      le {{ item.createdAt}}  
    </div>
  {% endif %}
</div>

{# ---- BODY --- #}
{# Not displaying contributions votes on client side, so the API is smaller #}
{#{% if item.votes|length > 0 %}
  <div class="contribution-body">
    <b style="line-height: 3.5rem;">Votes</b>
    {% for vote in item.votes %}
        {% if vote.item %}
          {% import here ~ "vote-report-item.html.njk" as VoteReportRenderer %}
          {{ VoteReportRenderer.render(vote, loop.last, smallWidth) }}
        {% endif %}
    {% endfor %}
  </div>
{% endif %}#}