/*
* @Author: Sebastian Castro
* @Date:   2017-03-12 11:20:02
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2018-07-04 17:09:40
*/
.category-wrapper .subcategories-wrapper:not(.no-withdrawal) 
{   
	margin-left: 1.3rem;
  border-left: 1px dotted #c3c3c3;

  margin-bottom: 15px;
  margin-top: 0;

  .category-wrapper { margin-top: 0}
  
  .subcategory-item
  {
  	font-size: 85%;
  	line-height: 2.5rem;
  	margin-top: 0;
  	padding-top: 0;
    padding-left: .9rem;
    margin-bottom: 0rem;

		.subcategorie-checkbox
		{
			+ label:after { width: 15px; height: 15px; }
			
			+ label:before { width: 5px; height: 9px; top: 9px; left: 2px; }
		}

    .name-wrapper { height: 2.5rem; }

    .checkbox-wrapper { top: 7px; right: -1px; }
    .checkbox-wrapper .checkbox-container{ top: -4px; }
  }

  .subcategorie-option-item 
  {
  	font-size: 95%;
    line-height: 2.4rem;
    height: 2.4rem;
    padding-left: 1rem;

    .icon { 
      font-size: 1.2rem; 
      padding-top: 1px; 
      margin-right: .8rem; 
    }
    .icon.fa, .icon.fas, .icon.fab {
      font-size: 1.1rem;
      padding-top: .7rem;
    }

    .elements-by-category-count {
      font-size: .7em;
      top: 9px;
      right: 2.3rem;
      opacity: .8;
    }

  	.subcategorie-option-checkbox 
		{
		  + label:before { width: 10px; height: 10px; left: 3px; }

			&:checked + label:before { width: 6px; height: 10px; left: 2px; }
		}
  }  
}